[Desktop Entry]
Type=Service
Name=Gimp palettes (Keneric)

X-KDE-ServiceTypes=ThumbCreator
MimeType=image/x-gimp-palette;

X-KDE-Library=keneric
CacheThumbnail=true

